@media (max-width: 600px) {

/* 600 */
.body {    
    position: relative;
    width: 320px;
    height: 476px;

    /* Página inteira */
    background: #FCF1D7;
}

/* Cabecalho */
.cabecalho {
    position: absolute;
    width: 321px;
    height: 56px;
    background: #3664C1;
}

/* Barra da technobike */
h1 {
    position: absolute;
    width: 297px;
    height: 43px;
    left: 11px;
    top: 82px;
    background: #3664C1;
    border-radius: 5px;

    /* Technobike */
    position: absolute;
    width: 76px;
    height: 17px;
    left: 15px;
    top: 95px; 

    font-family: 'Bitter';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

/* Faça uma simulação aqui*/
/* Detalhes da solução */
/* Simulação */
/* Organograma das páginas */
/* Totalmente virtual */
h2 {
    position: absolute;
    background: #3664C1;
    border-radius: 10px;

    font-family: 'Bitter', 'Times New Roman', Times, Serif;
    font-weight: 400;
    font-size: 6px;
    line-height: 7px;
    color: #FFFFFF;
    text-indent: 20px;
    text-decoration-line: underline;
}

/* Conheça nossos integrantes */
h3 {
    position: absolute;
    width: 178px;
    height: 16px;
    left: 11px;
    top: 389px;

    font-family: 'Bitter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: underline;
    
    color: #000000;
}

/* Textos */
p {
    position: absolute;
    width: 281px;
    height: 50px;
    left: 15px;
    top: 141px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    color: #000000;
}

/* Simulação Tipo do seguro Informações Vistoria Validação da vistoria Apólice */
li a {
    position: absolute;
    width: 172px;
    height: 96px;
    left: 11px;
    top: 267px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: underline;

    color: #000000;
}

/* Detalhes organograma totalmente virtual */
nav a {
    position: absolute;
    width: 138px;
    height: 51px;
    left: 15px;
    top: 415px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: underline;

    color: #000000;
}
}