@media (min-width: 992px) {
    
/* 992 */
html {    
    position: relative;
    width: 992px;
    height: 476px;

    /* Página inteira */
    position: absolute;
    /* left: 0px;
    right: 0px; */
    top: -5px;
    bottom: 5px;

    background: #FCF1D7;
}

/* Cabeçalho */
.cabecalho {
    position: absolute;
    width: 992px;
    height: 67px;
    /* left: 0px;
    top: 0px; */
    background: #3664C1;
}

/* Barra Technobike */
h1 {
    position: absolute;
    width: 946px;
    height: 40px;
    left: 30px;
    top: 84px;

    background: #3664C1;
    border-radius: 5px;

    /* Technobike */
    position: absolute;
    width: 108px;
    height: 24px;
    left: 42px;
    top: 92px;

    font-family: 'Bitter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;
}

/* Simulação Tipo do seguro Informações Vistoria Validação da vistoria Apólice */
li a {
    position: absolute;
    width: 163px;
    height: 96px;
    left: 30px;
    top: 286px;

    font-family: 'Bitter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-decoration-line: underline;

    color: #000000;
}

/* Conheça nossos integrantes */
h3 {
    position: absolute;
    width: 169px;
    height: 16px;
    left: 30px;
    top: 394px;

    font-family: 'Bitter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;

    color: #000000;
}

/* Barra faça uma simulação aqui */
h2 {
    position: absolute;
    width: 946px;
    height: 40px;
    left: 30px;
    top: 235px;

    background: #3664C1;
    border-radius: 5px;

/* Faça uma simulação aqui: */
    position: absolute;
    width: 238px;
    height: 24px;
    left: 42px;
    top: 243px;
    
    font-family: 'Bitter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    
    color: #FFFFFF;
}

/* Detalhes da solução */
h2 {
    position: absolute;
    width: 214px;
    height: 24px;
    /* left: 30px; */
    top: 25px;

    font-family: 'Bitter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;
}

/* Simulação */
h2 {
    position: absolute;
    width: 128px;
    height: 24px;
    left: 525px;
    top: 25px;

    font-family: 'Bitter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;
}

/* Organograma das páginas */
h2 {
    position: absolute;
    width: 273px;
    height: 24px;
    left: 696px;
    top: 25px;

    font-family: 'Bitter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;
}

/* Totalmente virtual */
h2 {
    position: absolute;
    width: 203px;
    height: 24px;
    left: 280px;
    top: 25px;

    font-family: 'Bitter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;
}

/* Textos */
p {
    position: absolute;
    width: 919px;
    height: 96px;
    left: 42px;
    top: 132px;

    font-family: 'Bitter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;

    color: #000000;
}

/* Detalhes organograma totalmente virtual */
nav a {
    position: absolute;
    width: 138px;
    height: 51px;
    left: 27px;
    top: 417px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: underline;

    color: #000000;
}
}