@media (min-width: 992px) {
    
/* 992 */
body {    
    position: relative;
    width: 992px;
    height: 476px;

    /* Página inteira */
    position: absolute;
    top: -5px;
    bottom: 5px;
    background: #FCF1D7;
}

/* Cabeçalho */
.cabecalho {
    position: absolute;
    width: 992px;
    height: 67px;
    background: #3664C1;
}

/* Barra Technobike */
h1 {
    position: absolute;
    width: 946px;
    height: 40px;
    left: 30px;
    top: 84px;
    background: #3664C1;
    border-radius: 5px;

    /* Technobike */
    position: absolute;
    width: 108px;
    height: 24px;
    left: 42px;
    top: 92px;

    font-family: 'Bitter';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

/* Faça uma simulação aqui */
/* Detalhes da solução */
/* Simulação */
/* Organograma das páginas */
/* Totalmente virtual */
h2 {
    position: absolute;
    background: #3664C1;
    border-radius: 10px;

    font-family: 'Bitter', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 24px;
    color: #FFFFFF;
    text-indent: 20px;
}

/* Conheça nossos integrantes */
h3 {
    position: absolute;
    width: 169px;
    height: 16px;
    left: 30px;
    top: 394px;

    font-family: 'Bitter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;

    color: #000000;
}

/* Textos */
p {
    position: absolute;
    width: 919px;
    height: 96px;
    left: 42px;
    top: 132px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;

    color: #000000;
}

/* Simulação Tipo do seguro Informações Vistoria Validação da vistoria Apólice */
li a {
    position: absolute;
    width: 163px;
    height: 96px;
    left: 30px;
    top: 286px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-decoration-line: underline;

    color: #000000;
}

/* Detalhes organograma totalmente virtual */
nav a {
    position: absolute;
    width: 138px;
    height: 51px;
    left: 27px;
    top: 417px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: underline;

    color: #000000;
}
}