@import url("./cabecalho.css");
@import url("./rodape.css");
@import url("./layout.css");

@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap%27);
@import url(https://fonts.googleapis.com/css2?family=Bitter:wght@500&display=swap%27);

html {
    font-size: 62.7%;
}

body {
    background-color: #fcf1d7;
}

p {
    font-size: 20px;
    text-indent: 20px;
    line-height: 32px;
    margin: 20px;
    font-family: 'Roboto', sans-serif, calibri, arial;
}

label {
    font-family: 'Roboto', sans-serif, calibri, arial;
}

h1 {
    background-color: #3664c1;
    color: white;
    border-radius: 10px;
    text-indent: 20px; 
    font-size: 40px;
    font-family: 'Bitter', 'Times New Roman', Times, serif;
}

h2 {
    background-color: #3664c1;
    color: white;
    border-radius: 10px; 
    text-indent: 20px;
    font-size: 26px;
    font-family: 'Bitter', 'Times New Roman', Times, serif;;
}

h3 {
    text-indent: 20px;
    font-size: 25px;
    font-family: 'Bitter', 'Times New Roman', Times, serif;
}

li {
    font-size: 20px;
}

a {
    font-family: 'Roboto';
}

img {
    background-color: black;
    max-width: 800px;
    max-height: 500px;
    height: auto;
    width: auto;
    margin: auto;
    display: block;
    border-radius: 10%;
} 